html {
    scroll-behavior: smooth;
}

body > div {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.screen-wide {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.upper {
    background-image: linear-gradient(white, whitesmoke);
}

.lower {
    background-image: linear-gradient(whitesmoke, white);
}

@media screen and (max-width: 453px) {
    .divide {
        display: block;
    }
}

.header {
    display: inline-block;
    margin-bottom: 5em;
}

.header > h1 {
    font-size: 5em;
    font-style: italic;
    margin-bottom: 0;
}

@media screen and (max-width: 500px) {
    .header > h1 {
        font-size: 20vw;
        overflow-wrap: break-word;
    }
}

.header > span {
    float: right;
    font-size: 1.2em;
    font-style: italic;
}

@media screen and (max-width: 511px) {
    .header > span {
        width: 100%;
        margin: auto auto;
    }
}

.creations {
    display: grid;
    grid-template-areas: "posts projects";
}

.projects, .recent-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recent-posts {
    grid-area: posts;
    max-width: 500px;
    align-content: flex-start;
}

@media screen and (max-width: 1155px) {
    .creations {
        grid-template-areas: 
            "projects"
            "posts";
    }

    .recent-posts {
        max-width: 100%;
        margin-top: 30px;;
    }
}

.projects {
    grid-area: projects;
}

.project, .post-preview {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    transition: box-shadow 0.3s;

    cursor: pointer;
}

.project:hover, .post-preview:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.post-preview {
    width: 500px;
    height: 100px;
    margin: 10px;
    padding-right: 5px;

    text-align: left;
}

.post-preview > img {
    float: left;
    width: 180px;
    height: 100px;
    margin-right: 8px;
}

.post-preview > h4, .post-preview > p {
    padding: 0;
    margin: 8px;
    min-height: 36px;
}

.post-preview > p {
    font-size: 14px;
}

@media screen and (max-width: 540px) {
    .post-preview {
        width: 100%;
    }

    .post-preview > h4 {
        height: 100%;
        margin-top: 0;
        
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .post-preview > p {
        display: none;
    }
}

.project {
    position: relative;
    display: flex;
    width: 300px;
    height: 169px;
    margin: 10px;

    background-color: white;
}

@media screen and (max-width: 400px) {
    .project {
        margin-left: 0;
        margin-right: 0;

        width: 100%;
        height: auto;
    }

    .post-preview {
        margin-left: 0;
        margin-right: 0;
    }
}

.project > img {
    width: 100%;
    height: 100%;
}

.project:hover > .description {
    opacity: 1;
    transition: opacity 0.75s;
}

.project > .description {
    opacity: 0;
    transition: opacity 0.75s;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffffce;
}

.project > .description > p {
    margin-top: 5%;
    padding-left: 5px;
    padding-right: 5px;
}

.project:hover > h4 {
    opacity: 0;
    transition: opacity 0.75s;
}

.project > h4 {
    opacity: 1;
    transition: opacity 0.75s;

    position: absolute;
    bottom: 0;
    margin: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 100%;
    text-align: center;
    background-color: #ffffffce;
}

.paragraph {
    display: flex;
    max-width: 600px;
    margin: 0 auto;

    background-color: #fffbe8;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    transition: box-shadow 0.3s;
}

.paragraph:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.paragraph > img {
    min-width: 200px;
    height: 200px;
    margin: auto auto;
}

.paragraph > div {
    max-width: 400px;
    float: left;
    text-align: left;
    padding: 4px 16px;
    background-color: white;
}

@media screen and (max-width: 434px) {
    .paragraph {
        flex-wrap: wrap;
        background-color: rgb(255, 253, 230);
    }

    .paragraph > div {
        background-color: white;
    }

    .paragraph > img {
        box-shadow: none;
    }
}

@media screen and (max-width: 200px) {
    .paragraph > img {
        width: 100%;
        height: auto;
    }
}

.section {
    margin-top: 5em;
}

.small-section {
    margin-top: 0;
}

.social-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.social-subsection {
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.external-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.external-link {
    margin: 10px;
    cursor: pointer;
}

.external-link > img {
    width: 76px;
    height: 76px;
}

.external-link > span {
    display: block;
    padding-top: 5px;
}

.external-description {
    padding-top: 25px;
}

.external-description > span {
    display: block;
}