body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

a {
    color: blue;
}

a:active {
    color: red;
}

.important-note {
    font-size: 1.2em;
}

.lie {
    text-decoration: line-through;
}
