---
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas Almanac</title>

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div>
        <div id="projects" class="screen-wide upper">
            <div class="header">
                <h1>Ideas Almanac</h1>
                <span>Basically a portfolio of <a href="#about-me">mine</a></span>
            </div>

            {% include_relative projects.html %}

            <div class="section">
                <a href="#about-me" class="important-note">Scroll down, there's more</a>
            </div>
        </div>

        <div id="about-me" class="screen-wide lower">
            {% include_relative about.html %}

            <div class="small-section">
                <a href="#projects" class="important-note">Go up again</a>
            </div>
        </div>
</body>

</html>